.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    left: 547px;
    top: 60px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
}
 
  
  label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 12px 24px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #0055cc;
  }
  
  a {
    color: #0077ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  